<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="pb-4 mb-4" style="border-bottom: 1px solid rgba(226, 175, 24, 0.5) ;">
            <div class="row g-4">
                <div class="col-lg-3">
                    <a href="#">
                        <h1 class="text-primary mb-0">ECoShop</h1>
                        <p class="text-secondary mb-0">Sản phẩm chất lượng</p>
                    </a>
                </div>
                
                <div class="col-lg-6">
                    <div id="mc_embed_signup">
                        <form action="https://gmail.us3.list-manage.com/subscribe/post?u=f60cfadefacd0b15b97559b07&amp;id=751963cd21&amp;f_id=0019c1e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                            <div class="position-relative mx-auto">
                                <!-- Trường email - Giữ nguyên style -->
                                <input class="form-control border-0 w-100 py-3 px-4 rounded-pill"
                                       type="email"
                                       name="EMAIL"
                                       id="mce-EMAIL"
                                       placeholder="Nhập email của bạn"
                                       required>

                                <!-- Nút submit - Giữ nguyên style -->
                                <button type="submit"
                                        class="btn btn-primary border-0 border-secondary py-3 px-4 position-absolute rounded-pill text-white"
                                        style="top: 0; right: 0;"
                                        name="subscribe"
                                        id="mc-embedded-subscribe">
                                    Đăng ký ngay
                                </button>

                                <!-- Hidden field bắt buộc của Mailchimp -->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_f60cfadefacd0b15b97559b07_751963cd21" tabindex="-1" value="">
                                </div>
                            </div>

                            <!-- Khu vực hiển thị thông báo (thêm vào) -->
                            <div id="mce-responses" class="mt-2 text-center">
                                <div class="response text-white" id="mce-error-response" style="display:none"></div>
                                <div class="response text-white" id="mce-success-response" style="display:none"></div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Thêm script Mailchimp vào cuối footer -->
                <script src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
                <script>
                    (function($) {
                        window.fnames = new Array();
                        window.ftypes = new Array();
                        fnames[0]='EMAIL'; ftypes[0]='email';
                        // Có thể thêm các trường khác nếu cần
                    }(jQuery));
                    var $mcj = jQuery.noConflict(true);
                </script>

                <div class="col-lg-3">
                    <div class="d-flex justify-content-end pt-3">
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-secondary me-2 btn-md-square rounded-circle" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-secondary btn-md-square rounded-circle" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Tại sao chọn chúng tôi</h4>
                    <p class="mb-4">
                        Chúng tôi cam kết mang đến những sản phẩm tốt nhất, chất lượng cao với giá cả hợp lý. 
                    </p>
                    <a href="" class="btn border-secondary py-2 px-4 rounded-pill text-primary">Xem thêm</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Thông tin cửa hàng</h4>
                    <a class="btn-link" href="">Giới thiệu</a>
                    <a class="btn-link" href="">Liên hệ</a>
                    <a class="btn-link" href="">Chính sách bảo mật</a>
                    <a class="btn-link" href="">Điều khoản & Điều kiện</a>
                    <a class="btn-link" href="">Chính sách đổi trả</a>
                    <a class="btn-link" href="">Câu hỏi thường gặp</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="d-flex flex-column text-start footer-item">
                    <h4 class="text-light mb-3">Tài khoản</h4>
                    <a class="btn-link" href="">Tài khoản của tôi</a>
                    <a class="btn-link" href="">Chi tiết cửa hàng</a>
                    <a class="btn-link" href="">Giỏ hàng</a>
                    <a class="btn-link" href="">Danh sách yêu thích</a>
                    <a class="btn-link" href="">Lịch sử đơn hàng</a>
                    <a class="btn-link" href="">Đơn hàng quốc tế</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-item">
                    <h4 class="text-light mb-3">Liên hệ</h4>
                    <p>Địa chỉ: 1429 Đường Vành đai Trong, tp HCM 70000</p>
                    <p>Email: workspacestd@gmail.com</p>
                    <p>Điện thoại: +0123 4567 8910</p>
                    <p>Chấp nhận thanh toán</p>
                    <img src="~/img/payment.png" class="img-fluid" alt="Phương thức thanh toán">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->